<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/kerrialpiche">Kerri</a>. An apprentice web developer who aspires to take over the world one line of code at a time.
  </p>
  <br />
  <p>
    Kerri is also a lover of cats, beer, and oxford commas.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'kerri.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center"> Kerri Coulter</h2>
      <br />
      <p>
        Kerri Coulter is currently working as a Licensed Optician with more than 10 years experience.
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />