<h2>
  <span>Splurty / No. <%= @quote.id %> </span>
  Splurting out the <u>most annoying things about cats</u>! When they...
</h2>

<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />
