

@font-face {
    font-family: 'croissant_oneregular';
    src: font_url('croissantone-regular-webfont.woff2') format('woff2'),
         font_url('croissantone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}